body {font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: #FFDDEE;}
a{ color: #0E3EDA;}
 h1,h2 {color:#F473B9 ;}
 .evenrow {background-color: gray;}
 h1 {font: face 1em;}
 nav {color: #FFDDEE;}
  nav a {color: #0E3EDA;} 
  nav a:hover {background-color: #FFBDE6;}
nav padding: 10px;
nav margin-bottom: 30px} 

 