body {font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: #FFDDEE;}
a{ color: #0E3EDA;}
 h1,h2 {color:#F473B9 ;}
 .evenrow {background-color: gray;}
 h1 {font: face 1em;}
 nav {color: #FFDDEE;}
  nav a {color: #0E3EDA;} 
  nav a:hover {background-color: #FFBDE6;}
nav padding: 10px;
nav margin-bottom: 30px} 
.footer {float: right;}
.set1 {display:flex}
.set1 {background-color: #cce5fc;border-radius: 1em ; padding: 20px;}
.set2 {display: flex;}
.set2 {background-color: #cce5fc;border-radius: 1em; padding:20px}
.set1, .set2 {margin: 10px;}
 .set1, .set2 div {margin:5px}